* {
    box-sizing: border-box;
    font-family: Papyrus, "Lucida Handwriting", sans-serif;
}

body {
    background-color: rgb(194, 163, 240);
}

.title {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 4px solid blue;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

ul {
    margin: 10px 10px;
    padding: 25px 40px;
    border-style: outset;
    background-color: yellow;
}

.love {
    border: 2px solid black;
    padding: 20px 25px;
}