* {
    box-sizing: border-box;
    font-family: Papyrus, "Lucida Handwriting", sans-serif;
}

body {
    background-color: rgb(194, 163, 240);
}

.title {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 4px solid blue;
}

ul {
    list-style-type: none;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

li {
    border-style:outset;
    background-color: yellow;
    margin-bottom: 20px;
}
